<div class="ultra-settings-block">
  <%= render_partial "config_description", configuration: configuration %>

  <div class="ultra-settings-fields">
    <% configuration.class.fields.each do |field| %>
      <% source = configuration.__source__(field.name) %>

      <div class="ultra-settings-field">
        <div class="ultra-settings-field-header">
          <div class="ultra-settings-field-name">
            <code><%= html_escape(field.name) %></code>

            <% if field.secret? %>
              <span class="ultra-settings-field-badge ultra-settings-badge-secret">
                secret
              </span>
            <% end %>

            <% if field.static? %>
              <span class="ultra-settings-field-badge ultra-settings-badge-static">
                static
              </span>
            <% end %>
          </div>

          <div class="ultra-settings-field-type">
            <%= html_escape(field.type) %>
          </div>
        </div>

        <div class="ultra-settings-field-value">
          <% if configuration[field.name].nil? %>
            <span class="ultra-settings-nil-value">nil</span>
          <% elsif field.secret? %>
            <code class="ultra-settings-field-data-value">
              <%= html_escape(secret_value(configuration[field.name])) %>
            </code>
          <% else %>
            <code class="ultra-settings-field-data-value">
              <%= html_escape(display_value(configuration[field.name])) %>
            </code>
          <% end %>
        </div>

        <% unless field.description.to_s.empty? %>
          <div class="ultra-settings-field-description">
            <%= info_icon %>

            <div class="ultra-settings-description-text">
              <%= html_escape(field.description) %>
            </div>
          </div>
        <% end %>

        <div class="ultra-settings-field-sources">
          <% sources = configuration.__available_sources__(field.name) %>
          <% if sources.include?(:env) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :env, current_source: source, source_type: "Environment Variable", source_name: field.env_var %>
          <% end %>

          <% if sources.include?(:settings) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :settings, current_source: source, source_type: "Runtime Setting", source_name: field.runtime_setting %>
          <% end %>

          <% if sources.include?(:yaml) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :yaml, current_source: source, source_type: "Configuration File", source_name: field.yaml_key %>
          <% end %>

          <% if sources.include?(:default) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :default, current_source: source, source_type: "Default Value", source_name: nil %>
          <% end %>

          <% if source == :default && configuration[field.name].nil? %>
            <div class="ultra-settings-source ultra-settings-source-active">
              <span class="ultra-settings-source-type">Not Set</span>

              <span class="ultra-settings-source-indicator">
                Currently active
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <dialog class="ultra-settings-dialog" closedby="any">
    <div class="ultra-settings-dialog-header">
      <div class="ultra-settings-dialog-title"></div>

      <button
        class="ultra-settings-dialog-close"
        onclick="this.closest('.ultra-settings-dialog').close();"
      >
        <%= close_icon %>
      </button>
    </div>

    <div class="ultra-settings-dialog-body">
      <code class="ultra-settings-field-data-value ultra-settings-dialog-value"></code>
    </div>
  </dialog>
</div>
