<div class="ultra-settings-block">
  <%= render_partial "config_description", configuration: configuration %>

  <div class="ultra-settings-fields">
    <% configuration.class.fields.each do |field| %>
      <% source = configuration.__source__(field.name) %>

      <%
        field_search_text = [field.name, field.description, field.env_var, field.runtime_setting, field.yaml_key].compact.join(" ").downcase
      %>
      <div class="ultra-settings-field-card" data-field-name="<%= html_escape(field.name) %>" data-field-search="<%= html_escape(field_search_text) %>">
        <div class="ultra-settings-field-header">
          <span class="ultra-settings-field-name"><%= html_escape(field.name) %></span>

          <span class="ultra-settings-type-indicator">
            <span class="ultra-settings-type-dot" data-type="<%= html_escape(field.type) %>"></span>
            <span class="ultra-settings-type-label"><%= html_escape(field.type) %></span>
          </span>

          <% if field.secret? %>
            <span class="ultra-settings-badge ultra-settings-badge-secret">
              <%= lock_icon(10) %> Secret
            </span>
          <% end %>

          <% if field.static? %>
            <span class="ultra-settings-badge ultra-settings-badge-static">
              <%= pin_icon(10) %> Static
            </span>
          <% end %>

          <div class="ultra-settings-field-value-wrap">
            <% if configuration[field.name].nil? %>
              <code class="ultra-settings-field-value nil"
                    onclick="<%= html_escape(open_panel_script) %>"
                    data-name="<%= html_escape(field.name) %>"
                    data-value="nil"
                    data-type="<%= html_escape(field.type) %>"
                    data-secret="false"
                    title="Click to expand"
                    tabindex="0"
                    role="button">nil</code>
            <% elsif field.secret? %>
              <code class="ultra-settings-field-value"
                    onclick="<%= html_escape(open_panel_script) %>"
                    data-name="<%= html_escape(field.name) %>"
                    data-value="<%= html_escape(secret_value(configuration[field.name])) %>"
                    data-type="<%= html_escape(field.type) %>"
                    data-secret="true"
                    title="Click to expand"
                    tabindex="0"
                    role="button"><%= html_escape(secret_value(configuration[field.name])) %></code>
            <% else %>
              <code class="ultra-settings-field-value"
                    onclick="<%= html_escape(open_panel_script) %>"
                    data-name="<%= html_escape(field.name) %>"
                    data-value="<%= html_escape(display_value(configuration[field.name])) %>"
                    data-type="<%= html_escape(field.type) %>"
                    data-secret="false"
                    title="Click to expand"
                    tabindex="0"
                    role="button"><%= html_escape(display_value(configuration[field.name])) %></code>
            <% end %>
          </div>
        </div>

        <% unless field.description.to_s.empty? %>
          <div class="ultra-settings-field-description">
            <%= html_escape(field.description) %>
          </div>
        <% end %>

        <div class="ultra-settings-field-sources">
          <% sources = configuration.__available_sources__(field.name) %>
          <% if sources.include?(:env) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :env, current_source: source %>
          <% end %>

          <% if sources.include?(:settings) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :settings, current_source: source %>
          <% end %>

          <% if sources.include?(:yaml) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :yaml, current_source: source %>
          <% end %>

          <% if sources.include?(:default) %>
            <%= render_partial "data_source", configuration: configuration, field: field, source: :default, current_source: source %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <dialog class="ultra-settings-dialog" closedby="any">
    <div class="ultra-settings-dialog-header">
      <div class="ultra-settings-dialog-title"></div>

      <button
        class="ultra-settings-dialog-close"
        onclick="this.closest('.ultra-settings-dialog').close();"
      >
        <%= close_icon(15) %>
      </button>
    </div>

    <div class="ultra-settings-dialog-body">
      <code class="ultra-settings-dialog-value"></code>
    </div>
  </dialog>
</div>
