<div class="ultra-settings-block">
  <% if !configuration.class.yaml_config_disabled? && configuration.class.configuration_file.is_a?(Pathname) %>
    <div class="ultra-settings-config-file">
      <span class="ultra-settings-config-file-label">Configuration File:</span>
      <code class="ultra-settings-config-file-path"><%= html_escape(relative_path(configuration.class.configuration_file)) %></code>
      <% unless configuration.class.configuration_file&.exist? %>
        <span class="ultra-settings-file-not-found">(File does not exist)</span>
      <% end %>
    </div>
  <% end %>

  <div class="ultra-settings-fields">
    <% configuration.class.fields.each do |field| %>
      <% source = configuration.__source__(field.name) %>
      <div class="ultra-settings-field">
        <div class="ultra-settings-field-header">
          <div class="ultra-settings-field-name">
            <code><%= html_escape(field.name) %></code>
            <% if field.secret? %>
              <span class="ultra-settings-field-badge ultra-settings-badge-secret">secret</span>
            <% end %>
            <% if field.static? %>
              <span class="ultra-settings-field-badge ultra-settings-badge-static">static</span>
            <% end %>
          </div>
          <div class="ultra-settings-field-type">
            <%= html_escape(field.type) %>
          </div>
        </div>

        <div class="ultra-settings-field-value">
          <% if configuration[field.name].nil? %>
            <span class="ultra-settings-nil-value">nil</span>
          <% elsif field.secret? %>
            <code><%= html_escape(secret_value(configuration[field.name])) %></code>
          <% else %>
            <code><%= html_escape(display_value(configuration[field.name])) %></code>
          <% end %>
        </div>

        <% unless field.description.to_s.empty? %>
          <div class="ultra-settings-field-description">
            <svg class="ultra-settings-info-icon" width="16" height="16" fill="currentColor">
              <use href="#info-icon"/>
            </svg>
            <div class="ultra-settings-description-text">
              <%= html_escape(field.description) %>
            </div>
          </div>
        <% end %>

        <div class="ultra-settings-field-sources">
          <% if field.env_var && !configuration.class.environment_variables_disabled? %>
            <div class="ultra-settings-source <%= 'ultra-settings-source-active' if source == :env %>">
              <span class="ultra-settings-source-type">Environment Variable</span>
              <code class="ultra-settings-source-value"><%= show_defined_value(field.env_var, configuration.__value_from_source__(field.name, :env), field.secret?) %></code>
              <% if source == :env %>
                <span class="ultra-settings-source-indicator">Currently active</span>
              <% end %>
            </div>
          <% end %>

          <% if field.runtime_setting && !configuration.class.runtime_settings_disabled? %>
            <div class="ultra-settings-source <%= 'ultra-settings-source-active' if source == :settings %>">
              <span class="ultra-settings-source-type">Runtime Setting</span>
              <code class="ultra-settings-source-value"><%= show_defined_value(field.runtime_setting, configuration.__value_from_source__(field.name, :settings), field.secret?) %></code>
              <% if source == :settings %>
                <span class="ultra-settings-source-indicator">Currently active</span>
              <% end %>
              <% edit_url = UltraSettings.runtime_settings_url(field.runtime_setting, field.type) %>
              <% if edit_url %>
                <a href="<%= html_escape(edit_url) %>" class="ultra-settings-edit-link" title="Edit <%= html_escape(field.runtime_setting) %>">
                  <svg class="ultra-settings-edit-icon" width="16" height="16" fill="currentColor">
                    <use href="#edit-icon"/>
                  </svg>
                </a>
              <% end %>
            </div>
          <% end %>

          <% if field.yaml_key && !configuration.class.yaml_config_disabled? %>
            <div class="ultra-settings-source <%= 'ultra-settings-source-active' if source == :yaml %>">
              <span class="ultra-settings-source-type">Configuration File</span>
              <code class="ultra-settings-source-value"><%= show_defined_value(field.yaml_key, configuration.__value_from_source__(field.name, :yaml), field.secret?) %></code>
              <% if source == :yaml %>
                <span class="ultra-settings-source-indicator">Currently active</span>
              <% end %>
            </div>
          <% end %>

          <% if field.default.nil? %>
            <% if source == :default %>
              <div class="ultra-settings-source ultra-settings-source-active">
                <span class="ultra-settings-source-type">Default Value</span>
                <span class="ultra-settings-source-value"><em>Not set</em></span>
                <span class="ultra-settings-source-indicator">Currently active</span>
              </div>
            <% end %>
          <% else %>
            <div class="ultra-settings-source <%= 'ultra-settings-source-active' if source == :default %>">
              <span class="ultra-settings-source-type">Default Value</span>
              <code class="ultra-settings-source-value"><%= show_defined_value("", field.default, field.secret?) %></code>
              <% if source == :default %>
                <span class="ultra-settings-source-indicator">Currently active</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
