<%= style_tag %>

<div class="ultra-settings">
  <div class="ultra-settings-nav">
    <% configurations = UltraSettings.__configurations__.reject { |config| config.class.fields.empty? }.sort_by { |config| config.class.name.downcase } %>

    <% if configurations.size == 1 %>
      <h2 class="ultra-settings-title">
        <%= html_escape(configurations.first.class.name) %>
      </h2>
    <% else %>
      <%= render_partial "select_menu", configurations: configurations %>
    <% end %>
  </div>

  <% if configurations.size == 1 %>
    <%= UltraSettings::ConfigurationView.new(configurations.first).render(table_class: table_class) %>
  <% else %>
    <%= render_partial "config_list", configurations: configurations %>
    <% configurations.each do |configuration| %>
      <div
        class="ultra-settings-configuration"
        id="config-<%= html_escape(configuration.class.name) %>"
        style="display:none;"
      >
        <%= UltraSettings::ConfigurationView.new(configuration).render(table_class: table_class) %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  <%= javascript %>
</script>
