<%= style_tag %>

<!-- SVG Icons -->
<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <symbol id="edit-icon" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
    </symbol>
    <symbol id="info-icon" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </symbol>
  </defs>
</svg>

<div class="ultra-settings">
  <div class="ultra-settings-nav">
    <form onsubmit="return false" style="margin-bottom: 0.5rem;">
      <select class="<%= html_escape(select_class) %>" size="1" id="config-selector">
        <% UltraSettings.__configuration_names__.sort.each do |name| %>
          <% configuration = UltraSettings.send(name) %>
          <% next if configuration.class.fields.empty? %>

          <option value="config-<%= html_escape(name) %>"><%= html_escape(UltraSettings.send(name).class.name) %></option>
        <% end %>
      </select>
    </form>
  </div>

  <% UltraSettings.__configuration_names__.sort.each do |name| %>
    <% configuration = UltraSettings.send(name) %>
    <% next if configuration.class.fields.empty? %>

    <div class="ultra-settings-configuration" id="config-<%= html_escape(name) %>" style="display:none;">
      <%= UltraSettings::ConfigurationView.new(configuration).render(table_class: table_class) %>
    </div>
  <% end %>
</div>

<script>
  <%= javascript %>
</script>
